@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
}

.header{
  font-size: 1.25rem;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  background-color: #FF3B3F;
  color: #EFEFEF
}

